# Mini-project: Data analysis

The aim of this project is to give you some insight into using the Pandas library for analysing data.

## How to use this notebook

A few days ago you you might not have heard of Jupyter Notebooks and yet here you are having opened your first notebook and about to use it.

Each of the following sections (called 'cells' in Jupyter terminology) has a brief explanation of the purpose of the activity, the code contained and how to run it. 

Some of the cells contain code, there are usually denoted by a marker such as ```In [1]```. There are a number of ways to run the code in these cells: 

- Use the menu at the top of the notebook and select Cell > Run Cells and Select Below
- Look for the run icon and press it (this may be just below the cell and/or in the menu bar at the top of the page)
- Click into the cell itself and then press the Ctrl key on your computer and hold that while you also press the Enter key

## Analysing European Commission (EC) data

The European Commission makes its data available on the Eurostat database site. In this tutorial we will look at public expenditure on education by member states. A copy of the [dataset](educ_figdp_1_Data.csv) is available with this exercise for your convenience, the data has been tidied up to make it easier to analyse. You can browse the European [data](https://ec.europa.eu/eurostat/data/database) if you are interested.

## Reading in the data

Let's start by specifying the tools we will be using (pandas, numpy and ploty) and reading in the data file. The data file is a series of comma separated values and we can read the file directly into a pandas DataFrame called edu. 

The ```na_values``` option will ignore empty fields which contain a colon. We can specify the columns we want to read in too, the rest will be ignored.

In [3]:
import pandas as pd
import numpy as np
import plotly.express as px

edu = pd.read_csv('educ_figdp_1_Data.csv', 
                  na_values = ':',
                  usecols = ['TIME', 'GEO', 'Value'] )
edu

     TIME                            GEO  Value
0    2000  European Union (28 countries)    NaN
1    2001  European Union (28 countries)    NaN
2    2002  European Union (28 countries)   5.00
3    2003  European Union (28 countries)   5.03
4    2004  European Union (28 countries)   4.95
..    ...                            ...    ...
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[384 rows x 3 columns]

We can also use ```edu.head()``` and ```edu.tail()``` to look at the data and find out about the general characteristics by using ```edu.describe``` which tells us the mean, standard deviation, minimum and maximum values.

In [4]:
edu.head()

   TIME                            GEO  Value
0  2000  European Union (28 countries)    NaN
1  2001  European Union (28 countries)    NaN
2  2002  European Union (28 countries)   5.00
3  2003  European Union (28 countries)   5.03
4  2004  European Union (28 countries)   4.95

In [19]:
edu.tail()

     TIME      GEO  Value
379  2007  Finland   5.90
380  2008  Finland   6.10
381  2009  Finland   6.81
382  2010  Finland   6.85
383  2011  Finland   6.76

In [23]:
edu['Value'].describe()

count    361.000000
mean       5.203989
std        1.021694
min        2.880000
25%        4.620000
50%        5.060000
75%        5.660000
max        8.810000
Name: Value, dtype: float64

## Selecting data

If we want to select a subset of data then we can specify columns and, if necessary the range of rows.

In [25]:
edu['Value']

0       NaN
1       NaN
2      5.00
3      5.03
4      4.95
       ...
379    5.90
380    6.10
381    6.81
382    6.85
383    6.76
Name: Value, Length: 384, dtype: float64

Selecting a range of rows:

In [26]:
edu[10:14]

    TIME                            GEO  Value
10  2010  European Union (28 countries)   5.41
11  2011  European Union (28 countries)   5.25
12  2000  European Union (27 countries)   4.91
13  2001  European Union (27 countries)   4.99

In [44]:
edu.iloc[10:14]

    TIME                            GEO  Value
10  2010  European Union (28 countries)   5.41
11  2011  European Union (28 countries)   5.25
12  2000  European Union (27 countries)   4.91
13  2001  European Union (27 countries)   4.99

Selecting a range of rows from a particular column:

In [46]:
edu.loc[90:94, ['TIME', 'GEO']]

    TIME      GEO
90  2006  Belgium
91  2007  Belgium
92  2008  Belgium
93  2009  Belgium
94  2010  Belgium

In [ ]:
## Filtering data
We can filter data by specifying a condition, the result of which may be either True or False. This is commonly known as a filter. Let's say we want to find all countries where the expenditure on education is greater than 6.5% of GDP.

In [48]:
edu[edu['Value'] > 6.5].head()

     TIME      GEO  Value
93   2009  Belgium   6.57
94   2010  Belgium   6.58
95   2011  Belgium   6.55
120  2000  Denmark   8.28
121  2001  Denmark   8.44

### Filtering out NaN values

There's some more tidying up to do on this file, some of the values are still NaN - not a value - we must remove or change these values before we can analyse the data set. We can use filtering to do that.

In [51]:
# Identify NaN in the Values column
edu[edu['Value'].isnull()].head()

    TIME                            GEO  Value
0   2000  European Union (28 countries)    NaN
1   2001  European Union (28 countries)    NaN
36  2000       Euro area (18 countries)    NaN
37  2001       Euro area (18 countries)    NaN
48  2000       Euro area (17 countries)    NaN

In [59]:
## Remove the NaN values 
# using dropna to remove all rows with NaN values
eduDrop = edu.dropna()
eduDrop

     TIME                            GEO  Value
2    2002  European Union (28 countries)   5.00
3    2003  European Union (28 countries)   5.03
4    2004  European Union (28 countries)   4.95
5    2005  European Union (28 countries)   4.92
6    2006  European Union (28 countries)   4.91
..    ...                            ...    ...
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[361 rows x 3 columns]

Alternatively, you could replace the NaN values with zeroes if that's appropriate

In [99]:
eduFilled = edu.fillna(value = {'Value': 0})
eduFilled.head()

   TIME                            GEO  Value
0  2000  European Union (28 countries)   0.00
1  2001  European Union (28 countries)   0.00
2  2002  European Union (28 countries)   5.00
3  2003  European Union (28 countries)   5.03
4  2004  European Union (28 countries)   4.95

## Manipulating data

You can manipulate the values in a DataFrame or a subset of the columns or rows using aggregation functions. The table below shows the most common aggregation functions in pandas.

| Function  | Description | 
|-----------|-------------|
| count()   |Number of non-null observations|  
| sum()     |Sum of values|
| mean()    |Mean of values            | 
| median()  |Arithmetic median of values             |
| min()     |Minimum|
| max()     |Maximum|
| prod()    |Product of values|
| std()     |Unbiased standard deviation|
| var()     | Unbiased variance|

In [60]:
# Applying a function over the rows for every column
eduDrop.max(axis = 0)

TIME      2011
GEO      Spain
Value     8.81
dtype: object

In [68]:
# Applying a function on the columns for each row
# count returns the number of non-null observations.

edu.count(axis = 1).head()

0    2
1    2
2    3
3    3
4    3
dtype: int64

There are no limitations to the types of operation or function that can be applied to a DataFrame. We can use standard arithmentic operators or we can use the ```apply()``` method.

In [72]:
s = edu['Value'] / 100
s.head()

0       NaN
1       NaN
2    0.0500
3    0.0503
4    0.0495
Name: Value, dtype: float64

In [73]:
s = edu['Value'].apply(np.sqrt)
s.head()

0         NaN
1         NaN
2    2.236068
3    2.242766
4    2.224860
Name: Value, dtype: float64

It's possible to define your own small functions in this situation using a python feature called **lambda**.

In [74]:
s = edu['Value'].apply(lambda d: d**2)
s.head()

0        NaN
1        NaN
2    25.0000
3    25.3009
4    24.5025
Name: Value, dtype: float64

## Adding or deleting rows or columns
New columns or new rows can be added as needed by specifying the axis we want to modify

In [94]:
# Add a new column
edu['New'] = 0
edu.tail()

     TIME      GEO  Value  New
379  2007  Finland   5.90    0
380  2008  Finland   6.10    0
381  2009  Finland   6.81    0
382  2010  Finland   6.85    0
383  2011  Finland   6.76    0

In [95]:
# Delete the new column
edu.drop(['New'], axis = 1, inplace = True)
edu.tail()

     TIME      GEO  Value
379  2007  Finland   5.90
380  2008  Finland   6.10
381  2009  Finland   6.81
382  2010  Finland   6.85
383  2011  Finland   6.76

In [96]:
# Add a new row
edu = edu.append({'TIME': 2000, 'Value': 5.00, 'GEO': 'a'}, ignore_index=True)
edu.tail()

     TIME      GEO  Value
380  2008  Finland   6.10
381  2009  Finland   6.81
382  2010  Finland   6.85
383  2011  Finland   6.76
384  2000        a   5.00

In [97]:
# Delete the same row - it's the final row - max(edu.index)
edu.drop(max(edu.index), axis=0, inplace=True)
edu.tail()

     TIME      GEO  Value
379  2007  Finland   5.90
380  2008  Finland   6.10
381  2009  Finland   6.81
382  2010  Finland   6.85
383  2011  Finland   6.76

## Sorting

We can sort a DataFrame using any column, using the **sort** function.  If we want to see the first five rows of data sorted in descending order  (i.e., from the largest to the smallest values) and using the *'Value'* column, then we just need to do this:

In [5]:
edu.sort_values(by='Value', ascending=False, inplace=True)
edu.head()

     TIME      GEO  Value
130  2010  Denmark   8.81
131  2011  Denmark   8.75
129  2009  Denmark   8.74
121  2001  Denmark   8.44
122  2002  Denmark   8.44

## Grouping Data

Another very useful way to inspect data is to group it according to some criteria. For instance, in our example it would be nice to group all the data by country, regardless of the year. Pandas has the groupby function that allows us to do just that. The value returned by this function is a special grouped DataFrame. To have a proper DataFrame as a result, it is necessary to apply an aggregation function. Thus, this function will be applied to all the values in the same group.

For example, in our case, if we want a DataFrame showing the mean of the values for each country over all the years, we can obtain it by grouping according to country and using the mean function as the aggregation method for each group. The result would be a DataFrame with countries as indexes and the mean values as the column:

In [6]:
group = edu[['GEO', 'Value']].groupby('GEO').mean()
group.head()

                   Value
GEO
Austria         5.618333
Belgium         6.189091
Bulgaria        4.093333
Cyprus          7.023333
Czech Republic  4.168333

## Rearranging Data

Up until now, our indexes have been just a numeration of rows without much meaning. We can transform the arrangement of our data, redistributing the indexes and columns for better manipulation of our data, which normally leads to better performance. We can rearrange our data using the pivot_table function. Here, we can specify which columns will be the new indexes, the new values and the new columns.

For example, imagine that we want to transform our DataFrame to a spreadsheet-like structure with the country names as the index, while the columns will be the years starting from 2006 and the values will be the previous 'Value' column. To do this, first we need to filter out the data and then pivot it in this way:

In [9]:
filtered_data = edu[edu['TIME'] > 2005]
pivedu = pd.pivot_table(filtered_data, values='Value',
                        index=['GEO'], columns=['TIME'])
pivedu.head()

TIME            2006  2007  2008  2009  2010  2011
GEO
Austria         5.40  5.33  5.47  5.98  5.91  5.80
Belgium         5.98  6.00  6.43  6.57  6.58  6.55
Bulgaria        4.04  3.88  4.44  4.58  4.10  3.82
Cyprus          7.02  6.95  7.45  7.98  7.92  7.87
Czech Republic  4.42  4.05  3.92  4.36  4.25  4.51

Now we can use the new index to select specific rows by label, using the ix operator:

In [11]:
pivedu.loc[['Spain', 'Portugal'], [2006, 2011]]

TIME      2006  2011
GEO
Spain     4.26  4.82
Portugal  5.07  5.27

If we want to make a global ranking taking into account all the years, we can sum up all the columns and rank the result. Then we can sort the resulting values to retrieve the top 5 countries for the last 6 years, in this way:

In [12]:
totalSum = pivedu.sum(axis=1)
totalSum.rank(ascending=False, method='dense').sort_values().head()

GEO
Denmark    1.0
Cyprus     2.0
Finland    3.0
Malta      4.0
Belgium    5.0
dtype: float64

## Ranking

Another useful visualization feature is to rank data. For example, we would like to know how each country is ranked by year. To see this, we will use the pandas rank function. But first, we need to clean up our previous pivoted table a bit so that it only has real countries with real data. To do this, first we drop the Euro area entries and shorten the Germany name entry, using the rename function and then we drop all the rows containing any NaN, using the dropna function.

Now we can perform the ranking using the rank function. Note here that the parameter ascending=False makes the ranking go from the highest values to the lowest values. The Pandas rank function supports different tie-breaking methods, specified with the method parameter. In our case, we use the first method, in which ranks are assigned in the order they appear in the array, avoiding gaps between ranking.

In [13]:
pivedu = pivedu.drop(['Euro area (13 countries)',
                      'Euro area (15 countries)',
                      'Euro area (17 countries)',
                      'Euro area (18 countries)',
                      'European Union (25 countries)',
                      'European Union (27 countries)',
                      'European Union (28 countries)'
                      ], axis=0)
pivedu = pivedu.rename(
    index={'Germany (until 1990 former territory of the FRG)': 'Germany'})
pivedu = pivedu.dropna()
pivedu.rank(ascending=False, method='first').head()

TIME            2006  2007  2008  2009  2010  2011
GEO
Austria         10.0   7.0  11.0   7.0   8.0   8.0
Belgium          5.0   4.0   3.0   4.0   5.0   5.0
Bulgaria        21.0  21.0  20.0  20.0  22.0  22.0
Cyprus           2.0   2.0   2.0   2.0   2.0   3.0
Czech Republic  19.0  20.0  21.0  21.0  20.0  19.0

If we want to make a global ranking taking into account all the years, we can sum up all the columns and rank the result. Then we can sort the resulting values to retrieve the top 5 countries for the last 6 years, in this way:

In [14]:
totalSum = pivedu.sum(axis=1)
# totalSum.rank(ascending=False, method='dense').sort_values().head()
totalSum.rank(ascending=False).sort_values().head()

GEO
Denmark    1.0
Cyprus     2.0
Finland    3.0
Malta      4.0
Belgium    5.0
dtype: float64

## Plotting

In [115]:
totalSum = pivedu.sum(axis=1).sort_values(ascending=False)
totalSum
fig = px.bar(totalSum)


fig.show()